{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% if form is defined %}
        <link rel="stylesheet" href="{{ asset('vendor/select2/dist/css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/icheck/skins/all.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/datetimepicker/jquery.datetimepicker.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/formgenerator/css/custom-form.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/jqueryui/themes/overcast/jquery-ui.min.css')}}">
        {{ form_stylesheet(form) }}
    {% endif %}
{% endblock %}
{% block mainmenu %}
    {{ include('FormGeneratorBundle:Menu:knp_menu_bs.html.twig') }}
{% endblock %}

    {% block body %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{ name }}</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    {% for tab in uiTab %}
                        <li class="{% if loop.first %}active{% endif %}">
                            <a href="#{{ tab.id }}" data-toggle="tab" aria-expanded="true">
                                {{ tab.name}} </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {{  form_start(form, { 'attr': {'class': 'form-horizontal form-bordered'}}) }}
                    {% for tab in uiTab %}
                        <div id="{{ tab.id }}" class="tab-pane{% if loop.first %}active{% endif %}">
                        </div>
                    {% endfor %}
                    {% for child in form.children %}
                        {{ dump(child.vars.attr) }}
                        {% for c in child.children %}
                            {{ dump(c.vars.attr) }}
                            {{ c.vars.label }}
                            {{ form_widget(c) }}
                        {% endfor %}
                    {% endfor %}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if form is defined %}
        <script src="{{ asset('vendor/select2/dist/js/select2.min.js') }}"></script>
        <script src="{{ asset('vendor/jqueryui/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('vendor/jqueryui/ui/i18n/datepicker-fr.js') }}"></script>
        <script src="{{ asset('vendor/datetimepicker/jquery.datetimepicker.js') }}"></script>
        <script src="{{ asset('vendor/bower-tinymce-amd/tinymce/tinymce.js') }}"></script>
        <script src="{{ asset('vendor/icheck/icheck.min.js') }}"></script>
        <script>
            $( document ).ready(function() {
                //iCheck pour boutons radio
                $(document).find('input.icheck-radio').each(function(i, obj) {
                    $(this).iCheck({
                        radioClass: $(this).data('radio')
                    })
                });
                //icheck pour champ entity en checkbox : override BS (class .radio et surtout la div qui prend les attr définis du input)
                $(document).find('div.icheck-radio').find('input').each(function(i, obj) {
                    $(this).closest('label').unwrap();
                    $(this).iCheck({
                        radioClass: $(this).closest('div.icheck-radio').data('radio')
                    })
                });
            });
        </script>
        {{ form_javascript(form) }}
    {% endif %}
{% endblock %}

    {#{{ form.customFieldsiievolution_dateiivalue.vars.value }}#}
{#{{ form.customFieldsiievolution_datetimeiitype.vars.value }}#}