<ul class="nav" id="side-menu">
    <li class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
    <span class="input-group-btn">
    <button class="btn btn-default" type="button">
        <i class="fa fa-search"></i>
    </button>
    </span>
        </div>
        <!-- /input-group -->
    </li>
    <li class="heading">
        <h3 class="uppercase">Fiches d’entretien à réaliser</h3>
    </li>
    <li>
        <a href="#"><i class="fa fa-bell fa-fw"></i> Mes fiches d’entretien à réaliser <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{{ path('valuationmeet_assessed_list') }}"><i class="fa fa-star fa-fw"></i> Entretien d’appréciation </a>
            </li>
            <li>
                <a href="{{ path('professionalmeet_assessed_list') }}"><i class="fa fa-briefcase fa-fw"></i> Entretien professionnel </a>
            </li>
            <li>
                <a href="{{ path('conditionsmeet_assessed_list') }}"><i class="fa fa-tachometer fa-fw"></i> Entretiens sur les conditions de travail  </a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>

    <li>
        <a href="#"><i class="fa fa-eye fa-fw"></i> Les fiches d’entretien dont je suis l’évaluateur <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{{ path('valuationmeet_assessor_list') }}"><i class="fa fa-star fa-fw"></i> Entretien d’appréciation </a>
            </li>
            <li>
                <a href="{{ path('professionalmeet_assessor_list') }}"><i class="fa fa-briefcase fa-fw"></i> Entretien Professionnel </a>
            </li>
            <li>
                <a href="{{ path('conditionsmeet_assessor_list') }}"><i class="fa fa-tachometer fa-fw"></i> Entretiens sur les conditions de travail </a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-users fa-fw"></i> Les fiches d’entretien de mon équipe<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="panels-wells.html"><i class="fa fa-star fa-fw"></i> Entretien d’appréciation </a>
            </li>
            <li>
                <a href="buttons.html"><i class="fa fa-briefcase fa-fw"></i> Entretien Professionnel </a>
            </li>
            <li>
                <a href="notifications.html"><i class="fa fa-tachometer fa-fw"></i> Entretiens sur les conditions de travail </a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li class="heading">
        <h3 class="uppercase">Historique</h3>
    </li>
    <li>
        <a href="#"><i class="fa fa-bell fa-fw"></i> Mes fiches d'entretiens<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Type<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    <li>
                        <a href="#"><i class="fa fa-star fa-fw"></i> Entretien d'appréciation</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-briefcase fa-fw"></i> Entretien professionnel</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-tachometer fa-fw"></i> Entretiens sur les conditions de travail</a>
                    </li>
                </ul>
                <!-- /.nav-third-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-calendar-o fa-fw"></i> Année</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>

    <li>
        <a href="#"><i class="fa fa-users fa-fw"></i> Les fiches d'entretiens de mon équipe<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> Nom</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Type<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    <li>
                        <a href="#"><i class="fa fa-star fa-fw"></i> Entretien d'appréciation</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-briefcase fa-fw"></i> Entretien professionnel</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-tachometer fa-fw"></i> Entretiens sur les conditions de travail</a>
                    </li>
                </ul>
                <!-- /.nav-third-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-calendar-o fa-fw"></i> Année</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>

</ul>