{% if id is defined %}

<div class="datatable-action text-center">
    <a href="{{ path("edit_valuationmeet", {'id':id}) }}">
        <button class="btn btn-success btn-md">
            <i class="glyphicon glyphicon-pencil"></i>
        </button>
    </a>
    {#<a data-toggle="modal" href="#delete-{{ id }}">#}
        {#<button class="btn btn-danger btn-lg">#}
            {#<i class="ace-icon fa fa-trash-o bigger-110 icon-only"></i>#}
        {#</button>#}
    {#</a>#}
</div>

{#&#123;&#35;{{ render(controller("FormationAdminBundle:Formation:deleteForm", {'id':id})) }}&#35;&#125;#}

    {#{{ id }}#}
    {#{{ routeName }}#}

{% endif %}