{% extends 'AppBundle::layout.html.twig' %}
{% block body %}

    <div id="accordion1" class="panel-group accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#collapse_1_1" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled collapsed" aria-expanded="false">
                        Fiches d'entretien à réaliser </a>
                </h4>
            </div>
            <div class="panel-collapse collapse" id="collapse_1_1" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    <div id="accordion2" class="panel-group accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#collapse_2_1" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled collapsed" aria-expanded="false">
                                        Mes fiches d’entretien à réaliser  </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapse_2_1" aria-expanded="false">
                                <div class="panel-body">
                                    <p>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                                    </p>
                                    <p>
                                        Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                                    </p>
                                    <p>
                                        <a target="_blank" href="ui_tabs_accordions_navs.html#collapse_3_3" class="btn green">
                                            Activate this section via URL </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#collapse_2_2" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled collapsed" aria-expanded="false">
                                        Les fiches d’entretien dont je suis l’évaluateur  </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapse_2_2" aria-expanded="false">
                                <div class="panel-body">
                                    <p>
                                        Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                                    </p>
                                    <p>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                                    </p>
                                    <p>
                                        Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#collapse_2_3" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled collapsed" aria-expanded="false">
                                        Les fiches d’entretien de mon équipe </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapse_2_3" aria-expanded="false">
                                <div class="panel-body">
                                    <p>
                                        Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                                    </p>
                                    <p>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                                    </p>
                                    <p>
                                        Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#collapse_1_2" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled collapsed" aria-expanded="false">
                        Historique </a>
                </h4>
            </div>
            <div class="panel-collapse collapse" id="collapse_1_2" aria-expanded="false" style="height: 0px;">
                <div style="height:200px; overflow-y:auto;" class="panel-body">
                    <p>
                        Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                    </p>
                    <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    </p>
                    <p>
                        Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                    </p>
                    <p>
                        <a target="_blank" href="ui_tabs_accordions_navs.html#collapse_3_2" class="btn blue">
                            Activate this section via URL </a>
                    </p>
                </div>
            </div>
        </div>

    </div>





































    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Entretiens d'appréciation dont je suis l'évaluateur</h3>
            </div>
            <div class="panel-body tabbable-custom">
                {{ addDataTable(vmAssessorDataTable, {
                    'path':          path('homepage',{'tableName':'vmAssessor'}),
                    'id':            'vmAssessor',
                    'bLengthChange': 1,
                    'bInfo':         1,
                    'bFilter':       1
                }) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Entretiens d'appréciation dont je suis l'évalué</h3>
            </div>
            <div class="panel-body tabbable-custom">
                {{ addDataTable(vmAssessedDataTable, {
                    'path':          path('homepage',{'tableName':'vmAssessed'}),
                    'id':            'vmAssessed',
                    'bLengthChange': 1,
                    'bInfo':         1,
                    'bFilter':       1
                }) }}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Entretiens professionnels dont je suis l'évaluateur</h3>
            </div>
            <div class="panel-body tabbable-custom">
                {{ addDataTable(pmAssessorDataTable, {
                    'path':          path('homepage',{'tableName':'pmAssessor'}),
                    'id':            'pmAssessor',
                    'bLengthChange': 1,
                    'bInfo':         1,
                    'bFilter':       1
                }) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Entretiens professionnels dont je suis l'évalué</h3>
            </div>
            <div class="panel-body tabbable-custom">
                {{ addDataTable(pmAssessedDataTable, {
                    'path':          path('homepage',{'tableName':'pmAssessed'}),
                    'id':            'pmAssessed',
                    'bLengthChange': 1,
                    'bInfo':         1,
                    'bFilter':       1
                }) }}
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{%  endblock %}



