{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
<div class="row col-lg-12">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
            {% for flash in app.session.flashbag.get('info') %}
                <div class="alert alert-success col-md-12">
                    {{ flash | raw }}
                </div>
            {% endfor %}
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-pills">
                    <li class="active"><a href="#me" data-toggle="tab">Mes entretiens</a>
                    </li>
                    <li><a href="#evaluator" data-toggle="tab">Entretiens dont je suis l'évaluateur</a>
                    </li>
                    <li><a href="#equipe" data-toggle="tab">Mon equipe</a>
                    </li>
                    {% if is_granted('ROLE_MANAGER') %}
                        <li><a href="#creation" data-toggle="tab">Création de fiche</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_RH') %}
                        <li><a href="#campagne" data-toggle="tab">Gestion des campagnes</a></li>
                    {% endif %}
                    <li><a href="#export" data-toggle="tab">Export</a>
                    </li>

                    <li><a href="#valid_rh" data-toggle="tab">Demande validation RH</a>
                    </li>

                    <li><a href="#fiche_closes" data-toggle="tab">Fiches closes</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="me">
                        <div class="row col-lg-12">

                            {% for type in types %}
                                {% set done = 0  %}
                                {% for o in user.opusSheetsEvaluate if sheet is not defined %}
                                    {% if o.opusTemplate.type == type %}
                                        {% set sheet = o %}
                                        {% if( o.status.intCode != -1 and o.status.intCode != 8 and o.status.intCode != 9 and o.status is not empty ) %}
                                            {% set done = 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% set color = "done" %}
                                {% if ( done == 0 and sheet is defined ) %}{% if sheet.getEcheance() > 60 %}
                                        {% set color = "yellow" %}
                                    {% elseif sheet.getEcheance() > 30 %}
                                        {% set color = "orange" %}
                                    {% elseif sheet.getEcheance() > 0 %}
                                        {% set color = "green" %}
                                    {% endif %}
                                {%  endif %}
                                <div class="col-lg-{{ 12/types|length }} col-md-{{ 12/types|length }} col-xs-12">
                                    <div class="panel panel-{{ color }}">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <h2 class="col-xs-12">{{ type.name }}</h2>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                            <span class="pull-left">
                                {{ ( sheet is defined and done == 0 ) ? sheet.status.label : '' }}
                            </span>

                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="tab-pane fade" id="creation">
                        <div id="" class="row col-lg-12">
                            <div class="col-lg-12">
                                <h2>Création d’un ou de plusieurs entretiens à la demande</h2>
                                <div class="panel panel-default">
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table" id="createSheet">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    {% for type in types %}
                                                        <th class="upperFirst">{{ type.name }}</th>
                                                    {% endfor %}
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for u in users if u.department == user.department and user.department is not null %}
                                                    <tr>
                                                        <td>{{ u.firstName }} {{ u.lastName }}</td>
                                                        {% for type in types %}
                                                            {% set canCreate = 1 %}
                                                            {% for e in u.opusSheetsEvaluate %}
                                                                {% if( e.opusTemplate.type == type and e.status.intCode != -1 and e.status.intCode != 8 and e.status.intCode != 9 and e.status is not empty ) %}
                                                                    {% set canCreate = 0 %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            <td>
                                                                {% if canCreate == 1 %}
                                                                    <input type="checkbox" name="" value="" sheetType="{{ type.strCode }}" user="{{ user.id }}">
                                                                {% else %}
                                                                    <input type="checkbox" name="" value="" sheetType="{{ type.strCode }}" user="{{ user.id }}"  disabled="disabled" >
                                                                {% endif %}
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            <input type="submit" value="Créer" class="btn btn-primary pull-right btn-lg" onclick="createSheet();">
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="evaluator">
                        <div class="col-lg-12">
                            <h2>Les entretiens dont je suis l’évaluateur en cours</h2>
                            <div class="panel panel-default">
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                {% for type in types %}
                                                    <th class="upperFirst">{{ type.name }}</th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for u in user.opusSheetsEvaluator %}
                                                <tr>
                                                    <td>{{ u.evaluate.firstName }} {{ u.evaluate.lastName }}</td>
                                                    {% for type in types %}

                                                        {% set color = 0 %}
                                                        {% set status = '' %}
                                                        {% set id = 0 %}
                                                        {% for e in u.evaluate.opusSheetsEvaluate %}
                                                            {% if e.opusTemplate.type == type %}
                                                                {% set id = e.id %}
                                                                {% if( e.status.intCode != -1 and e.status.intCode != 8 and e.status.intCode != 9 and e.status is not empty ) %}
                                                                    {% set color = 1 %}
                                                                    {% if is_granted('ROLE_ADMIN') %}
                                                                        {% set status = e.status.label %}
                                                                    {% elseif  is_granted('ROLE_DIRECTOR') and e.status.intCode == 6  %}
                                                                        {% set status = e.status.label %}
                                                                    {% elseif ( is_granted('ROLE_RH') and e.status.intCode == 7 ) %}
                                                                        {% set status = e.status.label %}
                                                                    {% elseif ( is_granted('ROLE_DIVISION_MANAGER') and e.status.intCode == 11 and e.status.intCode == 1 and e.status.intCode == 2 and e.status.intCode == 4 and e.status.intCode == 5 ) %}
                                                                        {% set status = e.status.label %}
                                                                    {% elseif ( is_granted('ROLE_MANAGER') and e.status.intCode == 11 and e.status.intCode == 1 and e.status.intCode == 2 and e.status.intCode == 4 and e.status.intCode == 5) %}
                                                                        {% set status = e.status.label %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}

                                                    <a href="{{ path("generator_editsheet",{"id": id}) }}"><td class="{{ color == 1 ? 'table-orange' : '' }}" style="text-align: center"><a  class="{{ color == 1 ? 'table-orange' : '' }}" href="{{ path("generator_editsheet",{"id": id}) }}">{{ status }}</a></td></a>
                                                    {% endfor %}
                                                    <td></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="equipe">
                        <div class="col-lg-12">
                            <h2>Les fiches d’entretien de mon équipe</h2>
                            <div class="panel panel-default">
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                {% for type in types %}
                                                    <th class="upperFirst">{{ type.name }}</th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for u in users if u.department == user.department and user.department is not null %}
                                                <tr>
                                                    <td>{{ u.firstName }} {{ u.lastName }}</td>
                                                    {% for type in types %}

                                                        {% set color = 0 %}
                                                        {% set status = '' %}
                                                        {% set id = 0 %}
                                                        {% for e in u.opusSheetsEvaluate %}
                                                            {% if e.opusTemplate.type == type %}
                                                                {% set id = e.id %}
                                                                {% if( e.status.intCode != -1 and e.status.intCode != 8 and e.status.intCode != 9 and e.status is not empty ) %}
                                                                    {% set color = 1 %}
                                                                    {% if is_granted('ROLE_ADMIN') %}
                                                                        {% set status = e.status.label %}
                                                                    {% elseif  is_granted('ROLE_DIRECTOR') and e.status.intCode == 6  %}
                                                                        {% set status = e.status.label %}
                                                                    {% elseif ( is_granted('ROLE_RH') and e.status.intCode == 7 ) %}
                                                                        {% set status = e.status.label %}
                                                                    {% elseif ( is_granted('ROLE_DIVISION_MANAGER') and e.status.intCode == 11  and e.status.intCode == 1 and e.status.intCode == 2 and e.status.intCode == 4 and e.status.intCode == 5 ) %}
                                                                        {% set status = e.status.label %}
                                                                    {% elseif ( is_granted('ROLE_MANAGER') and e.status.intCode == 11 and e.status.intCode == 1 and e.status.intCode == 2 and e.status.intCode == 4 and e.status.intCode == 5) %}
                                                                        {% set status = e.status.label %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}

                                                        <a href="{{ path("generator_editsheet",{"id": id}) }}"><td class="{{ color == 1 ? 'table-orange' : '' }}" style="text-align: center"><a  class="{{ color == 1 ? 'table-orange' : '' }}" href="{{ path("generator_editsheet",{"id": id}) }}">{{ status }}</a></td></a>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="campagne">
                        <div class="col-lg-12">
                            <h2>Création ou édition d'une campagne</h2>
                            <div class="panel panel-default">
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="btn btn-primary" id="btnCreateCampaign" onclick="displayCreateCampaign();">Créer une campagne</div>
                                    <div class="createCampaign" id="createCampaign" style="display: none">
                                        {{ form_start(formOpusCampaign) }}
                                        {{ form_row(formOpusCampaign.year) }}
                                        {{ form_row(formOpusCampaign.mailDate) }}
                                        {{ form_row(formOpusCampaign.untilSheetDate) }}
                                        {{ form_row(formOpusCampaign.limitDate) }}
                                        {{ form_row(formOpusCampaign.status) }}
                                        {#{{ form_row(formOpusCampaign.type) }}#}
                                        {{ form_row(formOpusCampaign.opusTemplate) }}
                                        <input type="submit" value="Créer" class="btn btn-primary pull-right btn-lg">
                                        {{ form_end(formOpusCampaign) }}
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="upperFirst">Année</th>
                                            <th class="upperFirst">Mail date</th>
                                            <th class="upperFirst">Date limite</th>
                                            <th class="upperFirst">Statut</th>
                                            <th class="upperFirst">Type entretien</th>
                                            <th class="upperFirst">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for opusCampaign in opusCampaigns %}
                                                <tr>
                                                    <td>{{ opusCampaign.year }}</td>
                                                    <td>{{ opusCampaign.mailDate | date('d/m/Y') }}</td>
                                                    <td>{{ opusCampaign.limitDate | date('d/m/Y') }}</td>
                                                    <td>{{ opusCampaign.status }}</td>
                                                    <td>{{ opusCampaign.opusTemplate.type.name }}</td>
                                                    <td><a href="{{ path('edit_campaign',{'idCampaign':opusCampaign.id}) }}" class="btn btn-primary pull-right">Éditer</a></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>


                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="valid_rh">
                        <div class="col-lg-12">
                            <h2>Demande de validation RH</h2>
                            <div class="panel panel-default">
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Utilisateur</th>
                                            <th>Type</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for fiche in fiches if fiche.status.intCode == 7 %}
                                            <tr>
                                                <th><a href="{{ path("generator_editsheet",{"id":fiche.id}) }}"></a></th>
                                                <th>{{ fiche.evaluate.firstName }} {{ fiche.evaluate.lastName }}</th>
                                                <th>{{ fiche.type.name }}</th>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="fiche_closes">
                        <div class="col-lg-12">
                            <h2>Fiches closes</h2>
                            <div class="panel panel-default">
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Utilisateur</th>
                                            <th>Type</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for fiche in fiches if fiche.status.intCode == -1 or fiche.status.intCode == 8 or fiche.status.intCode == 9 %}
                                            <tr>
                                                <th><a href="{{ path("generator_editsheet",{"id":fiche.id}) }}"></a></th>
                                                <th>{{ fiche.evaluate.firstName }} {{ fiche.evaluate.lastName }}</th>
                                                <th>{{ fiche.opusTemplate.type.name }}</th>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        function displayCreateCampaign(){
            $div = $('div#createCampaign');
            if($div.css('display') == 'block'){
                $('#btnCreateCampaign').text('Créer une campagne');
                $('div#createCampaign').css('display','none');
            }else{
                $('#btnCreateCampaign').text('Fermer');
                $('div#createCampaign').css('display','block');
            }

        }

        function createSheet(){
            $t =$(document).find("#createSheet");
            $n = 0;
            $("input[type=\"checkbox\"]").each(function(i,j){
               if($(this).is(":checked"))
               {

                   $path = '{{ path("generator_newsheet",{"idUser":"__USER__","strCodeType":"__TYPE__"}) }}';
                   $path = $path.replace("__USER__",$(this).attr("user"));
                   $path = $path.replace("__TYPE__",$(this).attr("sheetType"));
                    $.post($path,function(d){
                        $n++;
                   })
               }
            });
            alert($n +" fiches viennent d'êtres ajoutées");
        }
    </script>

{%  endblock %}



